
<p id="notice"><%= notice %></p>

<h1 style="color:#00cccc">Customers</h1>

<%= link_to '<button type="button" class="btn btn-default">Add Customer</button>'.html_safe, new_customer_path %>

  <table id = "list_customers", class="table table-hover">

  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Sex</th>
      <th>Address</th>
      <th>Mobile</th>
      <th>Email</th>
      <%if @customers.present?%>
        <th colspan="3"></th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.age %></td>
        <td><%= customer.sex %></td>
        <td><%= customer.address %></td>
        <td><%= customer.mobile %></td>
        <td><%= customer.email %></td>
        <td><%= link_to '<button type="button" class="btn btn-default">Update</button>'.html_safe, edit_customer_path(customer) %></td>
        <td><%= link_to '<button type="button" class="btn btn-default">Delete</button>'.html_safe, customer, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% if checkin_record(customer).eql?(true)%>
          <td><%= link_to '<button type="button" class="btn btn-default" id="checkin_btn">Checkin</button>'.html_safe, new_checkin_path(customer_id: customer.id) %>
        <%else%>
          <td><%= link_to '<button type="button" class="btn btn-default checkout-btn" id="checkin_btn">Checkout</button>'.html_safe, "/checkout?customer_id=#{customer.id}" %>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>