<p id="notice"><%= notice %></p>

<h1>List of available rooms</h1>

<table>
  <thead>
    <tr>
      <th>Room no</th>
      <th>Name</th>
      <th>Room Type</th>
      <th>Facilities</th>
    </tr>
  </thead>

  <tbody>
    <% @available_rooms.each do |room| %>
      <tr>
        <td><%= room.room_no %></td>
        <td><%= room.name %></td>
        <td><%= room.room_type %></td>
        <td><%= room.facilities %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '<button type="button" class="btn btn-default">Back</button>'.html_safe, rooms_path %>

<br>