<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<%= link_to '<button type="button" class="btn btn-default">Add New Room</button>'.html_safe, new_room_path %>
<%= link_to '<button type="button" class="btn btn-default">List Available Rooms</button>'.html_safe, "/available_rooms" %>


<table>
  <thead>
    <tr>
      <th>Room no</th>
      <th>Name</th>
      <th>Room Type</th>
      <th>Facilities</th>
      <th>Price per night($)</th>
      <%if @rooms.present?%>
        <th colspan="2"></th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.room_no %></td>
        <td><%= room.name %></td>
        <td><%= room.room_type %></td>
        <td><%= room.facilities %></td>
        <td><%= "$#{room.price}" %></td>
        <td><%= link_to '<button type="button" class="btn btn-default">Update</button>'.html_safe, edit_room_path(room) %></td>
        <td><%= link_to '<button type="button" class="btn btn-default">Destroy</button>'.html_safe, room, method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>